# 1

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps:

First get the webpage https://www.naukri.com/
Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
Then click the search button.
Then scrape the data for the first 10 jobs results you get.
Finally create a dataframe of the scraped data. Note: All of the above steps have to be done in code. No step is to be done manually

In [70]:
#lets import all required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time

In [71]:
#lets first connect to the web driver 
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe")

In [72]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [73]:
#opening link adress
driver.get('https://www.naukri.com/')

In [74]:
#finding elements for job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Analyst")
search_field_location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_field_location.send_keys("Bangalore")
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div[1]/div[6]")
search_button.click()

In [75]:
#lets create empty list for storing our data
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [76]:
#lets extract all the tags having the job titles
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[]

In [77]:
#now we shall run a loop to extract the text inside the tags.
for i in titles_tags:
    titles=i.text
    job_titles.append(titles)
job_titles=job_titles[0:10]
job_titles

[]

In [78]:
#next, we shall extract all the tags having the company names.
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[]

In [79]:
#now lets extract the tags from the above tags.
for i in companies_tags:
    company_name=i.text
    company_names.append(company_name)
company_names=company_names[0:10]
company_names

[]

In [80]:
#so lets extract all the tags having the experience required data.
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:10]

[]

In [81]:
#lets extract experience details from the above tags.
for i in experience_tags[0:10]:
    experience=i.text
    experience_list.append(experience)
experience_list

[]

In [82]:
#now lets extract all the tags where we have the location of the job data.
locations_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations_tags[0:10]

[]

In [83]:
#lets extract text in location tags.
for i in locations_tags[0:10]:
    location=i.text
    location_list.append(location)
location_list

[]

In [84]:
#lets check length of each list.
print(len(job_titles),len(company_names),len(experience_list),len(location_list))

0 0 0 0

In [85]:
#lets make tha dataframe.
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=location_list
jobs

Empty DataFrame
Columns: [title, company, experience_required, location]
Index: []

# 2

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [86]:
#let me first import all required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [87]:
#first connect to the web driver.
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe")

In [88]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [89]:
driver.get('https://www.naukri.com/')

In [90]:
#finding elements for the job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")
search_field_location=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_field_location.send_keys("Bangalore")

In [91]:
#lets click search button.
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [92]:
#lets create empty list for storing our data
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [94]:
#so lets extract all th tags having the job titles.
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="e1623523-db4a-47a2-a9c1-39a04462417f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="200af2d9-0c44-47e6-b5e7-88f3da55b27b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="5c67db6b-435b-42f7-b6ae-22ebe87500cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="f4199afb-2563-4a40-9417-9cc970986c78")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="3a73b758-5cee-4a2f-adc6-2bbbb7d656da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="bcd2950d-b9f3-447a-8b4f-99762a77d7af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="430656a4-aba9-4fdf-bc09-2f46cece53de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="ba1c1fe3-8eb6-4fcd-8bf3-239e1a547f0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="26ddf6bc-371c-4702-99db-47ac29d2f613")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="05b8cd63-1f1a-48bc-b281-abbd083acb88")>]

In [95]:
#now lets extract the text from tags.
for i in titles_tags[0:10]:
    title=i.text
    job_titles.append(title)
job_titles

['Senior Data Scientist (IN4)',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Data Scientist - IN3',
 'Data Science - Data Scientist',
 'Urgent Hiring For AI Data Scientist',
 'Associate Data Scientist',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Senior Data Scientist']

In [97]:
#so lets extract all the tags having the company names.
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="ddc90d40-6571-4ac4-a096-979fee59bc2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="0a44f425-4c57-42a5-ae6e-5df268373fc1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="51fdf97a-a440-45e8-beda-e44c10e32d7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="e592cd63-6d9f-4b89-a365-bebca91cde7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="c7fc7ed7-37e8-4628-b7c6-1dd5bbd3e511")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="4d55df41-d5a4-4bc9-984e-14cd7469c2ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="cc7742db-157a-4598-85f7-c5c412ccf05d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="350aa595-9fca-489b-a048-c5dd493d4c02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="964a8424-2cc6-468d-96d1-6ec9733930a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="704666a2-4712-4d8e-abaa-78243fe7ee2a")>]

In [98]:
#now lets extract the text.
for i in companies_tags[0:10]:
    company_name=i.text
    company_names.append(company_name)
company_names

['Walmart',
 'Walmart',
 'Truecaller',
 'Walmart',
 'Paytm',
 'Ashkom Media India Private Limited',
 'IDFC FIRST Bank',
 'Ericsson Global Services',
 'Groww',
 'PayU']

In [99]:
#so lets extract all the tags having experience required data.
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="5c504f08-569b-48fb-a05b-3ad0615f592c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="1d851570-60fb-4faa-887b-88e8c33f0a36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="0519c7a8-4e0a-43b1-b1c4-f55e890cd6c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="25fbdb79-c251-4ce8-b37f-dc08d76256d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="5ed686a3-18dd-4704-a548-ec474ed5982f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="4ace6542-918e-44b7-b560-1e4985e781b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="5db587eb-f49c-40ea-b538-7f63a52c50aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="ac6726d0-a814-4bfc-8fd0-e3f12b00c565")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="ba94708c-c8c2-4ec6-8147-8be578333cee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="6fe66006-2e76-4fcf-a847-655dba54d5d0")>]

In [100]:
for i in experience_tags[0:10]:
    experience=i.text
    experience_list.append(experience)
experience_list

['5-9 Yrs',
 '5-9 Yrs',
 '2-5 Yrs',
 '7-11 Yrs',
 '1-3 Yrs',
 '1-4 Yrs',
 '3-7 Yrs',
 '10-15 Yrs',
 '5-8 Yrs',
 '3-7 Yrs']

In [109]:
#now lets extract locations
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="4efc88ec-14e0-411d-815c-0196d34f406d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="1ee868ca-229e-43bc-8256-866edfb2fa06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="f712e713-3a61-4f19-853a-86a1de3a7762")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="b987cb72-92a4-407f-bfea-5666ac7385b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="49225afb-d7bd-464e-9ea7-a55af8c6ea32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="70287a82-32df-4a7f-a405-abd1d4797446")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="dc3c0943-43f8-4bd1-90ac-6b46f01b47f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="fd788554-f456-479b-b2e3-5dd9ec93dd81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="32a2be92-9a22-4ccb-9218-89be54d66d85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ae64b63c5c45640705bb1d46290f0225", element="268a9b51-6384-4649-9271-4d5d7aa222d6")>]

In [110]:
for i in location_tags[0:10]:
    location=i.text
    location_list.append(location)
location_list

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'New Delhi, Bangalore/Bengaluru, Mumbai (All Areas)\n(WFH during Covid)',
 'Mumbai, Pune, Bangalore/Bengaluru, Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [111]:
#lets check the length of each list.
print(len(job_titles),len(company_names),len(experience_list),len(location_list))

10 10 10 10

In [112]:
#lets make the dataframe.
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=location_list
jobs

,title,company,experience_required,location
0,Senior Data Scientist (IN4),Walmart,5-9 Yrs,Bangalore/Bengaluru
1,Senior Data Scientist,Walmart,5-9 Yrs,Bangalore/Bengaluru
2,Senior Data Scientist,Truecaller,2-5 Yrs,Bangalore/Bengaluru
3,Data Scientist - IN3,Walmart,7-11 Yrs,Bangalore/Bengaluru
4,Data Science - Data Scientist,Paytm,1-3 Yrs,"Pune, Bangalore/Bengaluru"
5,Urgent Hiring For AI Data Scientist,Ashkom Media India Private Limited,1-4 Yrs,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar..."
6,Associate Data Scientist,IDFC FIRST Bank,3-7 Yrs,"Mumbai, Pune, Bangalore/Bengaluru, Mumbai"
7,Senior Data Scientist,Ericsson Global Services,10-15 Yrs,Bangalore/Bengaluru
8,Lead Data Scientist,Groww,5-8 Yrs,Bangalore/Bengaluru
9,Senior Data Scientist,PayU,3-7 Yrs,Bangalore/Bengaluru

# 3

Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [113]:
#let me first import all required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [114]:
#first connect to the web driver.
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe")

In [115]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [116]:
driver.get('https://www.naukri.com/')

In [117]:
#finding elements for the job search bar
search_field_designation=driver.find_element_by_class_name("suggestor-input ")
search_field_designation.send_keys("Data Scientist")

In [119]:
#lets click search button.
search_button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_button.click()

In [121]:
# lets click on the location filter button
location_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[1]/div[2]/div[3]/label/i")
location_button.click()

In [122]:
# lets click on the salary filter button
salary_filter=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
salary_filter.click()

In [123]:
#lets create empty list for storing our data
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [124]:
#so lets extract all th tags having the job titles.
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="36914519-6fba-4f93-a991-d07f6c39e54a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="3f855604-41f1-421a-9080-bf72f407c7e1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="68168c6a-3d28-41ca-b70d-bd5849c8bb02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="37f8d158-1a91-4bce-9fba-45e5c5694b2f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="7d477815-5969-4bcc-8b67-9850ad9cb077")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="e44ffdd1-3d2a-4459-90d1-64a926d0979c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="c0c1f86f-6eec-4c30-84b8-7ede4e626c02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="f741b2b9-ddd8-4e08-9b86-4248e437f23e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="baa04667-e574-42a8-84bf-e525c6df0935")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="af381957-4eba-4dab-bac3-c1b461ddfe35")>]

In [125]:
#now lets extract the text from tags.
for i in titles_tags[0:10]:
    title=i.text
    job_titles.append(title)
job_titles

['Data Scientist/ Machine Learning, 2022 Passout Can also apply',
 'Associate Data Scientist',
 'Data Scientist (freelance)',
 'Hiring For Senior Data Scientist-Noida',
 'Opening For Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'AM Data Scientist - Goods & Service Tax Network, Delhi',
 'Senior Data Scientist',
 'Lead Data Scientist']

In [126]:
#so lets extract all the tags having the company names.
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="dd582c6f-b3d4-46fb-90fd-cf9642be459e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="c1ff1c59-8a08-4f1d-bdac-6a778471e13a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="7118d966-4d24-4e01-bd6c-f519b132764a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="9c0b9c9d-80e1-441f-b7c5-e1cadfa74abf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="006d3130-9053-4f64-9ccf-4af1c770ef8c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="f7eb509c-f125-49a6-9831-baf478e93b5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="054ddf6f-9598-441e-b6fe-6da61fcee616")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="7dc88f1b-d3d9-4393-b009-c213d564cbda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="aed6e104-896a-402c-8608-047ad3496aca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="90e1ee35-2bef-47b1-885e-fa26561db5b3")>]

In [127]:
#now lets extract the text.
for i in companies_tags[0:10]:
    company_name=i.text
    company_names.append(company_name)
company_names

['Creative Hands HR Consultancy',
 'Optum',
 '2Coms',
 'Lumiq.ai',
 'Care Health Insurance',
 'BlackBuck',
 'Boston Consulting Group',
 'NISG (National Institute for Smart Government)',
 'iNICU',
 'KIA INDIA PRIVATE LIMITED']

In [128]:
#so lets extract all the tags having experience required data.
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="d1223d4a-a46a-4303-9988-6efe961c5c1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="7568fd2f-04d8-4c09-9084-a72b13730621")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="103f8350-dc35-4813-b734-87ea4e9a2986")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="f81c947a-f53d-4434-b58d-33fdafd2d215")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="742ac3b5-7e74-4ffb-89c3-47036209f0e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="dccb51fe-de83-474e-ad4f-0e10d7eb51b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="62aa7779-0313-47fc-81d9-7b8be1d11285")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="2aca167f-a8c1-4669-aed0-f0d167bf4ff6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="2d1091b7-fc11-4405-895b-337308aa5cad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="3aafb364-f013-42d5-8b01-be34e12d97a1")>]

In [129]:
for i in experience_tags[0:10]:
    experience=i.text
    experience_list.append(experience)
experience_list

['0-4 Yrs',
 '1-5 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '1-5 Yrs',
 '3-7 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '7-10 Yrs']

In [130]:
#now lets extract locations
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location_tags[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="913c9816-08fe-4d44-bbdb-6d7112e2de86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="ed1da356-d904-4d65-b337-f4ef4edbfc2b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="a548258e-ff48-439b-8650-ef7a4b82db20")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="aa26b172-4fba-42ee-b600-e1d8f26a9e46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="46484d6d-b46e-48b1-9ae9-54f42faf26e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="bfe109a1-5fbc-4739-9ea3-7093bcb29c64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="aba08258-6c67-4e85-865f-18f55c35daa8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="801eb648-bc64-4653-bbda-234b3d1776a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="41391ab3-3eb9-4c0a-ab46-9d8647ab208b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3b71fc4219399b9865c5c917356c1d4b", element="7ab968e1-f753-4be1-81b2-b92727d16539")>]

In [131]:
for i in location_tags[0:10]:
    location=i.text
    location_list.append(location)
location_list

['Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram',
 'New Delhi, Delhi',
 'Noida, Greater Noida, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Gurgaon, Bengaluru',
 'New Delhi',
 'Delhi / NCR',
 'Delhi',
 'Gurgaon/Gurugram']

In [132]:
#lets check the length of each list.
print(len(job_titles),len(company_names),len(experience_list),len(location_list))

10 10 10 10

In [133]:
#lets make the dataframe.
jobs=pd.DataFrame({})
jobs['title']=job_titles
jobs['company']=company_names
jobs['experience_required']=experience_list
jobs['location']=location_list
jobs

,title,company,experience_required,location
0,"Data Scientist/ Machine Learning, 2022 Passout...",Creative Hands HR Consultancy,0-4 Yrs,"Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba..."
1,Associate Data Scientist,Optum,1-5 Yrs,Gurgaon/Gurugram
2,Data Scientist (freelance),2Coms,2-7 Yrs,"New Delhi, Delhi"
3,Hiring For Senior Data Scientist-Noida,Lumiq.ai,2-6 Yrs,"Noida, Greater Noida, Delhi / NCR"
4,Opening For Data Scientist,Care Health Insurance,1-5 Yrs,Gurgaon/Gurugram
5,Data Scientist,BlackBuck,3-7 Yrs,"Gurgaon, Bengaluru"
6,Data Scientist,Boston Consulting Group,2-5 Yrs,New Delhi
7,AM Data Scientist - Goods & Service Tax Networ...,NISG (National Institute for Smart Government),3-8 Yrs,Delhi / NCR
8,Senior Data Scientist,iNICU,1-5 Yrs,Delhi
9,Lead Data Scientist,KIA INDIA PRIVATE LIMITED,7-10 Yrs,Gurgaon/Gurugram

# 4

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the
required data as usual.
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.
Note: That all of the above steps have to be done by coding only and not manually.

In [279]:
#lets now import all required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [280]:
#lets first connect to the web driver 
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe")

In [281]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [282]:
driver.get("https://www.flipkart.com/")

In [283]:
#lets enter sunglasses in enter field.
search_field=driver.find_element_by_class_name("_3704LK")
search_field.send_keys("sunglasses")

In [284]:
#lets close the pop up window.
popup=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
popup.click()

In [285]:
#lets click the search button.
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [286]:
#lets create empty list to append the datas.
brand_names=[]
product_description=[]
price=[]

In [287]:
#so lets extract all the tags with brand name.
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
len(brand_tags)

40

In [288]:
# lets extract and append the brand_names.
for i in brand_tags:
    brand=i.text
    brand_names.append(brand)
brand_names[0:4]

['EYEWEARLABS', 'EYEWEARLABS', 'Fastrack', 'Elligator']

In [289]:
#so lets extract all tags with product description.
description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
len(description_tags)

33

In [290]:
# lets extract and append the product_description.
for i in description_tags:
    description=i.text
    product_description.append(description)
product_description[0:4]

['UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (54)',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)']

In [291]:
#so lets extract all the tags with price.
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
len(price_tags)

40

In [292]:
# lets extract and append the price details.
for i in price_tags:
    pric=i.text
    price.append(pric)
price[0:4]

['₹1,598', '₹1,498', '₹649', '₹295']

In [293]:
#now lets scrap data in the next page.
#for that we shall click on the next button.
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_page.click()

In [294]:
#so lets extract all the tags with brand name in the second page.
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
len(brand_tags)

40

In [295]:
# lets extract and append the brand_names in the second page.
for i in brand_tags:
    bran=i.text
    brand_names.append(bran)
brand_names[40:44]

['HIPPON', 'PIRASO', 'Singco India', 'EYEWEARLABS']

In [296]:
#so lets extract all tags with product description in second page.
description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
len(description_tags)

37

In [297]:
# lets extract and append the product_description in second page.
for i in description_tags:
    description=i.text
    product_description.append(description)
product_description[40:44]

['UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Round Sunglasses (Free Size)']

In [298]:
#so lets extract all the tags with price in second page.
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
len(price_tags)

40

In [299]:
# lets extract and append the price details.
for i in price_tags:
    pric=i.text
    price.append(pric)
price[40:44]

['₹171', '₹199', '₹245', '₹1,598']

In [300]:
#lets scrap the data in third page.
next_pag=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
next_pag.click()

In [301]:
#so lets extract all the tags with brand name in the third page.
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
len(brand_tags)

40

In [302]:
# lets extract and append the brand_names in the third page.
for i in brand_tags:
    bran=i.text
    brand_names.append(bran)
len(brand_names)

120

In [304]:
#so lets extract all tags with product description in third page.
description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
len(description_tags)

32

In [305]:
# lets extract and append the product_description in third page.
for i in description_tags:
    description=i.text
    product_description.append(description)
len(product_description)

102

In [306]:
#so lets extract all the tags with price in third page.
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
len(price_tags)

40

In [307]:
# lets extract and append the price details.
for i in price_tags:
    pric=i.text
    price.append(pric)
len(price)

120

In [309]:
#lets make the dataframe.
sunglass=pd.DataFrame({})
sunglass['Brand']=brand_names[0:100]
sunglass['Description']=product_description[0:100]
sunglass['Price']=price[0:100]
sunglass

             Brand                                        Description   Price
0      EYEWEARLABS      UV Protection Wayfarer Sunglasses (Free Size)  ₹1,598
1      EYEWEARLABS                UV Protection Round Sunglasses (54)  ₹1,498
2         Fastrack  Riding Glasses Wrap-around Sunglasses (Free Size)    ₹649
3        Elligator              UV Protection Aviator Sunglasses (54)    ₹295
4       Lee Topper   UV Protection Rectangular Sunglasses (Free Size)    ₹299
..             ...                                                ...     ...
95     EYEWEARLABS  Gradient, Toughened Glass Lens, UV Protection ...  ₹1,598
96   VINCENT CHASE  UV Protection, Gradient Rectangular Sunglasses...    ₹899
97  kingsunglasses  UV Protection, Gradient Retro Square Sunglasse...    ₹269
98        Roadster  UV Protection, Mirrored Round Sunglasses (Free...    ₹649
99     EYEWEARLABS  UV Protection, Mirrored Retro Square Sunglasse...  ₹1,598

[100 rows x 3 columns]

# 5

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:
https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC
TSVZAXUHGREPBFGI&marketplace.

When you will open the above link you will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [856]:
#let me first import required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [857]:
#lets first connect to the webdriver.
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe")

In [858]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [859]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART')

In [860]:
#let me make empty lists for storing the scraped data.
ratings=[]
review_summary=[]
full_review=[]

In [861]:
#lets scrap the rating.
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
#now lets extract the text
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
len(ratings)

10

In [862]:
#lets scrap review summary.
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary_tags:
    x=i.text
    review_summary.append(x)
len(review_summary)

10

In [863]:
#lets scrap full review.
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review_tags:
    x=i.text
    full_review.append(x)
len(full_review)

10

In [864]:
#lets go to 2nd page.
next_button=driver.find_element_by_xpath("/html/body/div/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
next_button.click()

In [865]:
#lets scrap ratings from 2nd page.
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
len(rating_tags)
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_button.click()
len(ratings)

20

In [866]:
#lets scrap review summary from second page.
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary_tags:
    x=i.text
    review_summary.append(x)
len(review_summary)

20

In [867]:
#lets scrap full review from 2nd page.
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review_tags:
    x=i.text
    full_review.append(x)
len(full_review)

20

In [868]:
#lets go to third page
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_button.click()

In [869]:
#lets scrap rating from 3rd page.
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
len(rating_tags)
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
len(ratings)

30

In [870]:
#lets scrap review summary from third page.
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary_tags:
    x=i.text
    review_summary.append(x)
len(review_summary)

30

In [871]:
#lets scrap full review from 3rd page.
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review_tags:
    x=i.text
    full_review.append(x)
len(full_review)

30

In [872]:
#lets go to 4th page.
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_button.click()

In [873]:
#lets scrap rating from 4th page.
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
len(rating_tags)
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
len(ratings)

40

In [874]:
#lets scrap review summary from 4th page.
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary_tags:
    x=i.text
    review_summary.append(x)
len(review_summary)

40

In [875]:
#lets scrap full review from 4nd page.
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review_tags:
    x=i.text
    full_review.append(x)
len(full_review)

40

In [876]:
#lets go to 5th page.
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_button.click()

In [877]:
#lets scrap rating from 5th page.
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
len(rating_tags)
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
len(ratings)

50

In [878]:
#lets scrap review summary from 5th page.
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary_tags:
    x=i.text
    review_summary.append(x)
len(review_summary)

50

In [879]:
#lets scrap full review from 5th page.
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review_tags:
    x=i.text
    full_review.append(x)
len(full_review)

50

In [880]:
#lets go to 6th page. 
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_button.click()

In [881]:
#lets scrap rating from 6th page.
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
len(rating_tags)
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
len(ratings)

59

In [882]:
#lets scrap review summary from 6th page.
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary_tags:
    x=i.text
    review_summary.append(x)
len(review_summary)

60

In [883]:
#lets scrap full review from 6th page.
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review_tags:
    x=i.text
    full_review.append(x)
len(full_review)

60

In [884]:
#lets go to 7th page.
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_button.click()

In [885]:
#lets scrap rating from 7th page.
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
len(rating_tags)
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
len(ratings)

68

In [886]:
#lets scrap review summary from 7th page.
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary_tags:
    x=i.text
    review_summary.append(x)
len(review_summary)

70

In [887]:
#lets scrap full review from 7th page.
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review_tags:
    x=i.text
    full_review.append(x)
len(full_review)

70

In [888]:
#lets go to 8th page.
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_button.click()

In [889]:
#lets scrap rating from 8th page.
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
len(rating_tags)
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
len(ratings)

78

In [890]:
#lets scrap review summary from 8th page.
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary_tags:
    x=i.text
    review_summary.append(x)
len(review_summary)

80

In [891]:
#lets scrap full review from 8th page.
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review_tags:
    x=i.text
    full_review.append(x)
len(full_review)

80

In [892]:
#lets go to 9th page.
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_button.click()

In [893]:
#lets scrap rating from 9th page
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
len(rating_tags)
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
len(ratings)

87

In [894]:
#lets scrap review summary from 9th page.
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary_tags:
    x=i.text
    review_summary.append(x)
len(review_summary)

90

In [895]:
#lets scrap full review from 9th page.
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review_tags:
    x=i.text
    full_review.append(x)
len(full_review)

90

In [896]:
#lets go to 10th page.
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_button.click()

In [897]:
#lets scrap rating from 10th page
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
len(rating_tags)
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
len(ratings)

97

In [898]:
#lets scrap review summary from 10th page.
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary_tags:
    x=i.text
    review_summary.append(x)
len(review_summary)

100

In [899]:
#lets scrap full review from 10th page.
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review_tags:
    x=i.text
    full_review.append(x)
len(full_review)

100

In [900]:
#lets go to 11th page.
next_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
next_button.click()

In [901]:
#lets scrap rating from 11th page
rating_tags=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
len(rating_tags)
for i in rating_tags:
    rating=i.text
    ratings.append(rating)
ratings=ratings[0:100]
len(ratings)

100

In [902]:
#lets scrap review summary from 11th page.
summary_tags=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
for i in summary_tags:
    x=i.text
    review_summary.append(x)
review_summary=review_summary[0:100]
len(review_summary)

100

In [903]:
#lets scrap full review from 11th page.
review_tags=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
for i in review_tags:
    x=i.text
    full_review.append(x)
full_review=full_review[0:100]
len(full_review)

100

In [904]:
#lets create dataframe
iphone=pd.DataFrame({})
iphone['Rating']=ratings
iphone['Review_summary']=review_summary
iphone['Full_review']=full_review

In [905]:
iphone

,Rating,Review_summary,Full_review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
95,5,Terrific purchase,finally an iPhone with very nice battery backu...
96,5,Good quality product,I'm switching this phone to oppo reno 10x zoom...
97,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
98,4,Best in the market!,Damn this phone is a blast . Upgraded from and...
99,5,Perfect product!,Worth the money’ starting first from its perfo...

# 6

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
As shown in the below image, you have to scrape the tick marked attributes.

In [934]:
#lets import required libraries.
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [935]:
#lets first connect to the web driver 
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe")

In [936]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [937]:
driver.get("https://www.flipkart.com/")

In [938]:
#lets close the pop up window.
popup=driver.find_element_by_xpath("/html/body/div[2]/div/div/button")
popup.click()

In [939]:
#lets enter sneakers in enter field.
search_field=driver.find_element_by_class_name("_3704LK")
search_field.send_keys("sneakers")

In [940]:
#lets click the search button.
search_button=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search_button.click()

In [941]:
#lets create empty list to append the datas.
brand_names=[]
product_description=[]
price=[]

In [944]:
#lets scrap brand_names from 1st page
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tags:
    x=i.text
    brand_names.append(x)
len(brand_names)

40

In [947]:
#lets scrap product_description from 1st page
description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description_tags:
    x=i.text
    product_description.append(x)
len(product_description)

36

In [948]:
#lets scrap price from 1st page
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tags:
    x=i.text
    price.append(x)
len(price)

40

In [949]:
#now lets scrap data in the next page.
#for that we shall click on the next button.
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
next_page.click()

In [950]:
#lets scrap brand_names from 2st page
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tags:
    x=i.text
    brand_names.append(x)
len(brand_names)

80

In [954]:
#lets scrap product_description from 2nd page
description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description_tags:
    x=i.text
    product_description.append(x)
len(product_description)

70

In [955]:
#lets scrap price from 2nd page
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tags:
    x=i.text
    price.append(x)
len(price)

80

In [957]:
#now lets scrap data in the next page.
#for that we shall click on the next button.
next_page=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
next_page.click()

In [958]:
#lets scrap brand_names from 3rd page
brand_tags=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
for i in brand_tags:
    x=i.text
    brand_names.append(x)
brand_names=brand_names[0:100]
len(brand_names)

100

In [959]:
#lets scrap product_description from 3rd page
description_tags=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
for i in description_tags:
    x=i.text
    product_description.append(x)
product_description=product_description[0:100]
len(product_description)

100

In [960]:
#lets scrap price from 3rd page
price_tags=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
for i in price_tags:
    x=i.text
    price.append(x)
price=price[0:100]
len(price)

100

In [961]:
#lets create dataframe
sneakers=pd.DataFrame({})
sneakers['Brand']=brand_names
sneakers['Product_Description']=product_description
sneakers['Price']=price

In [962]:
sneakers

             Brand                                Product_Description   Price
0           ADIDAS                     Easy Vulc 2.0 Sneakers For Men  ₹1,289
1       HIGHLANDER                                   Sneakers For Men    ₹746
2         URBANBOX  Kwik FIT casual sneaker shoes and partywear sh...    ₹142
3         KWIK FIT        STYLISH MENS BLACK SNEAKER Sneakers For Men    ₹349
4           corsac              Canvas shoes for Men Sneakers For Men    ₹449
..             ...                                                ...     ...
95           WROGN                           Fashion Sneakers For Men    ₹550
96         Numenzo                   Puma Smash v2 L Sneakers For Men    ₹405
97           Bacan                                   Sneakers For Men    ₹424
98  luxury fashion  Combo Pack of 2 Casual Shoes For Men Sneakers ...    ₹449
99       ROCKFIELD                           INGFRED Sneakers For Men    ₹649

[100 rows x 3 columns]

# 7

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [963]:
#lets now import all required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [964]:
#lets first connect to the web driver 
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe")

In [965]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [966]:
driver.get("https://www.myntra.com/shoes")

In [967]:
#lets first set the price filter.
price_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
price_filter.click()

In [968]:
#now lets set the colour filter.
colour_filter=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
colour_filter.click()

In [969]:
#lets create empty list to append the datas.
brand_names=[]
product_description=[]
price=[]

In [976]:
#lets scrap brand_names from 1st page
brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in brand_tags:
    x=i.text
    brand_names.append(x)
len(brand_names)

50

In [978]:
#lets scrap product_description from 1st page
description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in description_tags:
    x=i.text
    product_description.append(x)
len(product_description)

50

In [979]:
#lets scrap price from 1st page
price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
for i in price_tags:
    x=i.text
    price.append(x)
len(price)

50

In [980]:
#lets go to the next page.
next_page=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
next_page.click()

In [981]:
#lets scrap brand_names from 2nd page
brand_tags=driver.find_elements_by_xpath("//h3[@class='product-brand']")
for i in brand_tags:
    x=i.text
    brand_names.append(x)
len(brand_names)

100

In [982]:
#lets scrap product_description from 2nd page
description_tags=driver.find_elements_by_xpath("//h4[@class='product-product']")
for i in description_tags:
    x=i.text
    product_description.append(x)
len(product_description)

100

In [983]:
#lets scrap price from 1st page
price_tags=driver.find_elements_by_xpath("//div[@class='product-price']")
for i in price_tags:
    x=i.text
    price.append(x)
len(price)

100

In [984]:
#lets create dataframe
sneaker=pd.DataFrame({})
sneaker['Brand']=brand_names
sneaker['Product_Description']=product_description
sneaker['Price']=price

In [985]:
sneaker

,Brand,Product_Description,Price
0,ALDO,Men Woven Design Sneakers,Rs. 13999
1,ALDO,Men Leather Driving Shoes,Rs. 12999
2,Skechers,Men Max Cushioning Running,Rs. 7649Rs. 8999(15% OFF)
3,ALDO,Men Leather Loafers,Rs. 12999
4,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999(15% OFF)
...,...,...,...
95,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
96,Geox,Men Formal Derbys,Rs. 8991Rs. 9990(10% OFF)
97,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
98,RARE RABBIT,Men Textured Leather Loafers,Rs. 7699Rs. 10999(30% OFF)
99,MANGO,Embellish Mid-Top Heeled Boots,Rs. 7990

# 8

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes.

Note: All the steps required during scraping should be done through code only and not manually.

In [1]:
#lets now import all required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [2]:
#lets first connect to the web driver 
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe")

In [3]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [4]:
driver.get("https://www.amazon.in/")

In [5]:
#lets enter laptop in searchbar.
search_field_designation=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search_field_designation.send_keys("Laptop")

In [6]:
#lets click the search button.
search_button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_button.click()

In [7]:
#lets set the CPU type filter.
cpu_filter=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div/label/i")
cpu_filter.click()

In [16]:
#lets create empty list to append the datas.
title=[]
rating=[]
price=[]

In [17]:
#lets scrap the titles from 1st page.
title_tags=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags:
    x=i.text
    title.append(x)
len(title)

30

In [18]:
#lets scrap the ratings from 1st page.
rating_tags=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
for i in rating_tags:
    x=i.text
    rating.append(x)
len(rating)

23

In [19]:
#lets scrap the price from 1st page.
price_tags=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in price_tags:
    x=i.text
    price.append(x)
len(price)

30

In [23]:
#lets make the dataframe
laptop=pd.DataFrame({})
laptop['Title']=title[0:23]
laptop['Rating']=rating[0:23]
laptop['Price']=price[0:23]

In [24]:
laptop

                                                Title Rating     Price
0   MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Le...           66,990
1   Mi Notebook Ultra 3.2K Resolution Display Inte...           77,990
2   Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....           86,990
3   ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...           57,990
4   HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...           86,490
5   Samsung Galaxy Book2 Intel 12th Gen core i7 Ev...           79,990
6   ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...           87,990
7   LG Gram Intel Evo 11th Gen Core i7 17 inches U...           87,990
8   Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...           83,990
9   HP Envy x360 11th Gen Intel Core i7 13.3-inch(...         1,03,990
10  LG Gram 16 inches Intel Evo 11th Gen Core i7 U...           84,990
11  HP Pavilion x360 11th Gen Intel Core i7 14 inc...           85,990
12  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...           66,990
13  ASUS TUF Gaming F15 (2021) 15.6-inch (39.62 cm...           88,990
14  Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...         1,29,990
15  Samsung Galaxy Book2 Pro Intel 12th Gen i7 Evo...         1,14,990
16  HP Pavilion 11th Gen Intel Core i7 Processor 1...           87,990
17  (Renewed) Dell Latitude Laptop E7480 Intel Cor...           47,034
18  (Renewed) Dell Latitude Laptop E7480 Intel Cor...           54,990
19  (Renewed) Lenovo Intel 5th Gen Core i7 14 Inch...           47,799
20  HP Pavilion 15 12th Gen Intel Core i7 16GB SDR...           92,400
21  (Renewed) Dell Latitude Laptop E7480 Intel Cor...           48,014
22  (Renewed) Dell Latitude Laptop E7480 Intel Cor...           39,990

# 9

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually.

In [124]:
#lets now import all required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [125]:
#lets first connect to the web driver 
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe")

In [126]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [127]:
driver.get("https://www.ambitionbox.com/")

In [128]:
#lets click on job button
job=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
job.click()

In [129]:
#lets enter "data scientist" in search bar.
search_=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search_.send_keys("Data Scientist")

In [130]:
#lets click on search button
search_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span")
search_button.click()

In [131]:
#lets click on location menu.
location_button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i")
location_button.click()

In [132]:
#lets click on suggestion
button=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[5]/div/label")
button.click()

In [133]:
#lets create empty list for adding data
company_name=[]
posted_day=[]
rating=[]

In [134]:
#so lets extract all the tags having the company name
company=driver.find_elements_by_xpath("//div[@class='company-info']")
for i in company[0:10]:
    x=i.text
    company_name.append(x)
len(company_name)

10

In [135]:
#so lets extract all the tags having the no.of days ago posted.
days=driver.find_elements_by_xpath("//span[@class='body-small-l']")
for i in days[0::2]:
    x=i.text
    posted_day.append(x)
len(posted_day)

10

In [136]:
#so lets extract all the tags having the rating.
rate=driver.find_elements_by_xpath("//span[@class='body-small']")
for i in rate[0:10]:
    x=i.text
    rating.append(x)
len(rating)

10

In [137]:
#lets make the data frame
jobs=pd.DataFrame({})
jobs["Company Name"]=company_name
jobs["Posted Day"]=posted_day
jobs["Rating"]=rating

In [138]:
jobs

                                        Company Name Posted Day Rating
0  GENPACT India Private Limited\n · \n4.0\nbased...     1d ago    4.0
1  GENPACT India Private Limited\n4.0\n(17.4k Rev...    2hr ago    4.4
2                     Salesforce\n4.4\n(164 Reviews)    14d ago    4.4
3   Google India Private Limited\n4.4\n(410 Reviews)     1d ago    4.1
4  US Technology International Pvt Ltd\n4.1\n(2k ...     9d ago    3.9
5  EXL Services.com ( I ) Pvt. Ltd.\n3.9\n(4.4k R...     7d ago    4.2
6        Invesco (India) Pvt Ltd\n4.2\n(164 Reviews)    21d ago    4.0
7  GENPACT India Private Limited\n4.0\n(17.4k Rev...     6d ago    3.9
8                  ValueLabs LLP\n3.9\n(932 Reviews)   1mon ago    3.9
9                Wipro Limited\n3.9\n(22.2k Reviews)    23d ago    4.3

# 10

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually.

In [147]:
#lets now import all required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
import time

In [148]:
#lets first connect to the web driver 
driver=webdriver.Chrome(r"C:\Users\USER\Downloads\chromedriver_win32\chromedriver.exe")

In [149]:
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

In [150]:
driver.get("https://www.ambitionbox.com/")

In [151]:
#lets click on salaries
salary=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
salary.click()

In [152]:
#lets enter "data scientist" in search bar.
search_=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search_.send_keys("Data Scientist")

In [153]:
#lets click on suggestion
button=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p")
button.click()

In [261]:
#lets create empty list for adding data
company_name=[]
salary_record=[]
experience=[]
average_salary=[]
salary=[]

In [262]:
#so lets extract all the tags having company_name.
compny=driver.find_elements_by_xpath("//div[@class='name']")
for i in compny[0:10]:
    x=i.text
    x=x.split("\n")
    company_name.append(x[0])
len(company_name)

10

In [263]:
#so lets extract all the tags having salary_record.
compny=driver.find_elements_by_xpath("//div[@class='name']")
for i in compny[0:10]:
    x=i.text
    x=x.split("\n")
    salary_record.append(x[1])
len(salary_record)

10

In [264]:
#so lets extract all the tags having experience_required.
exp_req=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in exp_req[0:10]:
    x=i.text.replace("Data Scientist\n . \n", " ")
    experience.append(x)
len(experience)

10

In [265]:
#so lets extract all the tags having average salary.
avg=driver.find_elements_by_xpath("//p[@class='averageCtc']")
for i in avg[0:10]:
    x=i.text
    average_salary.append(x)
len(average_salary)

10

In [266]:
#so lets extract all the tags having max salary.
maxi=driver.find_elements_by_xpath("//div[@class='value body-medium']")
for i in maxi[0:20]:
    x=i.text
    salary.append(x)
max_salary=salary[1::2]
min_salary=salary[0::2]
print(len(max_salary))
len(min_salary)

10

10

In [269]:
#lets make Dataframe.
ds=pd.DataFrame({})
ds["Company Name"]=company_name
ds["Salary_Record"]=salary_record
ds["Experience Required"]=experience
ds["Average Salary"]=average_salary
ds["Max Salary"]=max_salary
ds["Min Salary"]=min_salary

In [270]:
ds

,Company Name,Salary_Record,Experience Required,Average Salary,Max Salary,Min Salary
0,Walmart,based on 11 salaries,3 yrs exp,₹ 29.7L,₹ 35.0L,₹ 25.0L
1,Ab Inbev,based on 32 salaries,3-4 yrs exp,₹ 20.5L,₹ 25.5L,₹ 15.0L
2,Reliance Jio,based on 10 salaries,4 yrs exp,₹ 18.9L,₹ 26.2L,₹ 5.6L
3,ZS,based on 15 salaries,2 yrs exp,₹ 15.9L,₹ 20.0L,₹ 9.8L
4,Optum,based on 27 salaries,3-4 yrs exp,₹ 15.2L,₹ 22.0L,₹ 11.0L
5,Fractal Analytics,based on 81 salaries,2-4 yrs exp,₹ 15.2L,₹ 22.0L,₹ 9.5L
6,Tiger Analytics,based on 46 salaries,2-4 yrs exp,₹ 14.8L,₹ 20.0L,₹ 9.0L
7,UnitedHealth,based on 53 salaries,2-4 yrs exp,₹ 14.0L,₹ 20.5L,₹ 8.3L
8,Verizon,based on 14 salaries,4 yrs exp,₹ 12.7L,₹ 21.0L,₹ 10.0L
9,Ganit Business Solutions,based on 13 salaries,4 yrs exp,₹ 12.4L,₹ 15.0L,₹ 8.5L